body {
    font-family: Arial, sans-serif;
    background-color: #32323a;
    margin: 0;
    padding: 0;
}

#barChart {
    position: absolute;
    top: 20px;
    left: 15%;
    height: 250px;
    width: 250px;
    background-color: #54545f;
    border: 3px solid #3c3c44;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: baseline;
    align-items: end;
    cursor: move;
}
.bar {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    transition: height 0.1s;
    border: 2px solid #32323a;
    border-radius: 3px;
    background-color: #6c757d;
    padding: 5px;
    margin: 2px;
    position: relative;
}
.barText {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
}

#userInputs {
    text-align: center;
    display: grid;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    margin: 20px 20px;
    cursor: move;
}

#userInputs div {
    background-color: rgba(255, 255, 255, 0.7);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    padding: 2px 0px;
    border: 2px brown solid;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
}

#userInputs div.probability {
    background-color: rgba(255, 255, 255, 0.7);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    padding: 2px 0px;
    border: 2px solid brown;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
}

#userInputs input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#userInputs button {
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#colourButtons button {
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

#userInputs button:hover {
    background-color: #45a049;
}

#colourButtons button:hover {
    background-color: #333333;
}

#resultsBox {
    position: absolute;
    top: 43%;
    text-align: center;
    display: grid;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 20px;
    cursor: move;
}

#resultsBox div {
    background-color: rgba(255, 255, 255, 0.7);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    padding: 2px 0px;
    border: 2px brown solid;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;
}

#lineGraphContainer {
    position: absolute;
    top: 20px;
    left: 75%;
    transform: translateX(-50%);
    background-color: #54545f;
    border: 3px solid #3c3c44;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: move;
}

#lineGraph {
    width: 800px;
    height: 500px;
}

#betSizeGraphContainer {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateX(-50%);
    background-color: #54545f;
    border: 3px solid #3c3c44;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: move;
}

#betSizeGraph {
    width: 800px;
    height: 500px;
}

#colourInputs {
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: center;
    display: grid;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    margin: 20px 20px;
    cursor: move;
}

#colourInputs input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#generateMultipliersButton {
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

#draggableCheckbox {
    margin-top: 10px;
}

#pieChartContainer {
    position: absolute;
    top: 20px;
    left: 30%;
    background-color: #54545f;
    border: 3px solid #3c3c44;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#pieChart {
    width: 250px;
    height: 250px;
}